body {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #5D5D5D;
}

canvas {
	float: left;
}

.controls {
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}

.controls select, .controls button {
	width: 50%;
}

.controlsPosition {
	width: 100%;
}

.controlsPosition input {
	width: 20%;
}

.controls button {
	float: right;
}